/*This is the CSS file for index.html (home page)*/

/*I have used CSS GRID for the visual structure of my capstone project*/

body.home_body{
background-color:grey;
}

header.homepg_button_sel_container{
    text-align:center;
    height:600px;
    grid-area: header;
}

/* navigation menu */
div.navigation_menu_container{
    grid-area: menu;
    box-sizing:border-box;
    margin-right:auto;
    margin-left:auto;
    display:block;
    height:100px;
    width:800px;
    float:center;
}

div.home_link_container{
    box-sizing:border-box;
    height:60px;
    width:100px;
}

a.homepagelink{
    font-size:30px;
    text-decoration:none;
    color:white;
    transition:0.3s;
}

a.homepagelink:hover{
    cursor:pointer;
    opacity:70%;
}

a.homepagelink:active{
    background-color:lightblue;
    opacity:100%;
}

div.aboutme_link_container{
    box-sizing:border-box;
    height:60px;
    width:125px;
    margin-left:200px;
    margin-top:-80px;
}

a.aboutmelink{
    font-size:30px;
    text-decoration:none;
    color:white;
    transition:0.3s;
}

a.aboutmelink:hover{
    cursor:pointer;
    opacity:70%;
}

a.aboutmelink:active{
    background-color:lightblue;
    opacity:100%;
}

div.projects_link_container{
    box-sizing:border-box;
    height:60px;
    width:125px;
    margin-left:450px;
    margin-top:-80px;
}

a.projectslink{
    font-size:30px;
    text-decoration:none;
    color:white;
    transition:0.3s;
}

a.projectslink:hover{
    cursor:pointer;
    opacity:70%;
}

a.projectslink:active{
    background-color:lightblue;
    opacity:100%;
}

div.contacts_link_container{
    box-sizing:border-box;
    height:60px;
    width:125px;
    float:right;
    margin-top:-80px;
}

a.contactmelink{
    font-size:30px;
    text-decoration:none;
    color:white;
    transition:0.3s;
}

a.contactmelink:hover{
    cursor:pointer;
    opacity:70%;
}

a.contactmelink:active{
    background-color:lightblue;
    opacity:100%;
}

img.home_name_banner{
    height:500px;
    width:900px;
    float:none;
}

div.intro_video_container{
    box-sizing:border-box;
    height: 370px;
    width: 622px;
    border:10px solid rgb(187, 187, 187);
    margin-right:auto;
    margin-left:auto;
    display:block;
}

div.intro_video_container:hover{
    box-sizing:border-box;
    border-style:ridge;
    float:none;
}

iframe.video_intro{
    height:350px;
    width:600px;
}

/*main container for home page*/
div.homepage_main_section{
    box-sizing:border-box;
    height:1100px;
    width:auto;
    text-align:center;
    grid-area: content;
}

h2.homepage_subheading{
    font-size:30px;
    font-family:'Times New Roman', Times, serif;
    color:white;
    float:center;

}

div.homepage_intro_container{
    height:150px;
    width:700px;
    margin-right:auto;
    margin-left:auto;
    display:block;
}

p.homepage_slogan{
    font-size:30px;
    color:white;
    float:center;
}

footer.allpages_footer_container{
    height:200px;
    background-color:rgb(69, 156, 185);
    text-align:center;
    margin:-8px;
    grid-area: footer;
}

p.myname{
    font-size:20px;
}

div.resume_container{
    height:100px;
    width:300px;
    margin-right:auto;
    margin-left:auto;
    display:block;
}

a.resumelink{
    color:white;
    font-size:30px;
    font-family:'Times New Roman', Times, serif;
    transition:0.3s;
}

a.resumelink:hover{
    cursor:pointer;
    opacity:80%;
}

/*media querries for: 1550px, 1250px, 900px, and 750px*/

@media (max-width:1250px){
    #home_name_banner_alt{
        height:70%;
        width:auto;
    }
}

@media (max-width:1250px){
    #homepage_intro_container_alt{
        width:60%;
        
    }
}

@media (max-width:899px){
    #home_name_banner_alt{
        height:50%;
        width:auto;
    }
}

@media (max-width:1200px){
    #homepage_slogan_alt{
        font-size:200%;
    }
}

@media (max-width:1250px){
    #homepg_button_sel_container_alt{
        height:500%;
    }
}


@media (max-width:1250px){
    #homepage_subheading_alt{
        font-size:200%;
    }
}

@media (max-width:1250px){
    #resumelink_alt{
        font-size:150%;
    }
}

@media (max-width:1250px){
    #intro_video_container_alt{
        scale:80%;
    }
}

@media (max-width:1250px){
#homepage_intro_container_alt{
        scale:90%;
    }
}

@media (max-width:900px){
    #navigation_menu_container_alt{
        height:500px;
        width:300px;
    }
}

@media (max-width:900px){
    #aboutme_link_container_alt{
        float:left;
    }
}

@media (max-width:900px){
    #home_link_container_alt{
        margin-right:auto;
        margin-left:auto;
        display:block;
    }
}

@media (max-width:900px){
    #aboutme_link_container_alt{
        margin-top:50px;
        margin-right:auto;
        margin-left:auto;
        display:block;
        float:none;
    }
}

@media (max-width:900px){
    #projects_link_container_alt{
        margin-top:50px;
        margin-right:auto;
        margin-left:auto;
        display:block;
    }
}

@media (max-width:900px){
    #contacts_link_container_alt{
        margin-top:50px;
        margin-right:auto;
        margin-left:auto;
        display:block;
        float:none;
    }
}

@media (max-width:750px){
    #home_name_banner_alt{
        scale:60%;
        margin-left:-150px;
    }
}

@media (max-width:750px){
    #home_banner_container_alt{
        height:auto;
        width:400px;
        margin-right:auto;
        margin-left:auto;
        display:block;
    }
}

@media (max-width:750px){
    #intro_video_container_alt{
        scale:50%;
        margin-right:auto;
        margin-left:auto;
        display:block;
        float:left;
    }
}

@media (max-width:750px){
    #allpages_footer_container_alt{
        width:auto;
    }
}
