/*This is the CSS file for projects.html*/

/*I have used CSS GRID for the visual structure of my capstone project*/

body.home_body{
    background-color:grey;
    }

    header.projectspg_button_sel_container{
        grid-area: header;
        text-align:center;
        height:600px;
    }

    h1.projectspage_heading{
        font-size:100px;
        color:white;
    }

/* navigation menu */
div.navigation_menu_container{
    grid-area: menu;
    box-sizing:border-box;
    margin-right:auto;
    margin-left:auto;
    margin-top:165px;
    display:block;
    height:100px;
    width:800px;
    margin-top:5px;
}

div.home_link_container{
    height:60px;
    width:100px;
}

a.homepagelink{
    font-size:30px;
    text-decoration:none;
    color:white;
    transition:0.3s;
}

a.homepagelink:hover{
    cursor:pointer;
    opacity:70%;
}

a.homepagelink:active{
    background-color:lightblue;
    opacity:100%;
}

div.aboutme_link_container{
    box-sizing:border-box;
    height:60px;
    width:125px;
    margin-left:200px;
    margin-top:-80px;
}

a.aboutmelink{
    font-size:30px;
    text-decoration:none;
    color:white;
    transition:0.3s;
}

a.aboutmelink:hover{
    cursor:pointer;
    opacity:70%;
}

a.aboutmelink:active{
    background-color:lightblue;
    opacity:100%;
}

div.projects_link_container{
    box-sizing:border-box;
    height:60px;
    width:125px;
    margin-left:450px;
    margin-top:-80px;
}

a.projectslink{
    font-size:30px;
    text-decoration:none;
    color:white;
    transition:0.3s;
}

a.projectslink:hover{
    cursor:pointer;
    opacity:70%;
}

a.projectslink:active{
    background-color:lightblue;
    opacity:100%;
}

div.contacts_link_container{
    box-sizing:border-box;
    height:60px;
    width:125px;
    float:right;
    margin-top:-80px;
}

a.contactmelink{
    font-size:30px;
    text-decoration:none;
    color:white;
    transition:0.3s;
}

a.contactmelink:hover{
    cursor:pointer;
    opacity:70%;
}

a.contactmelink:active{
    background-color:lightblue;
    opacity:100%;
}

img.aog_pic{
    height:300px;
    width:500px;
}

img.sirzenigaming_pic{
    height:300px;
    width:500px;
}


/*main container for projects page*/
div.projectspage_maincontent_container{
    grid-area: content;
    box-sizing:border-box;
    height:2000px;
    width:auto;
    text-align:center;
}

div.projects_aogdesign_container{
    height:auto;
    width:1200px;
    border:5px solid lightblue;
    background-color:rgb(160, 160, 160);
    border-radius:25px;
    margin-right:auto;
    margin-left:auto;
    display:block;
}

h2.projects_aogdesign_heading{
    font-size:50px;
    font-family:'Times New Roman', Times, serif;
    color:white;
}

img.aog_pic{
    height:500px;
    width:900px;
    float:none;
}

p.aog_desc{
    font-size:30px;
    font-family:'Times New Roman', Times, serif;
    color:white;
    column-count:2;
    column-rule-style:solid;
}

h2.projects_sirzenigaming_heading{
    font-size:50px;
    font-family:'Times New Roman', Times, serif;
    color:white;
}

img.sirzenigaming_pic{
    height:500px;
    width:900px;
    float:none;
}

div.projects_sirzenigaming_container{
    height:auto;
    width:1200px;
    border:5px solid lightblue;
    background-color:rgb(160, 160, 160);
    border-radius:25px;
    margin-right:auto;
    margin-left:auto;
    display:block;
}

p.sirzenigaming_desc{
    font-size:30px;
    font-family:'Times New Roman', Times, serif;
    color:white;
    column-count:2;
    column-rule-style:solid;
}


footer.allpages_footer_container{
    grid-area: footer;
    height:200px;
    background-color:rgb(69, 156, 185);
    text-align:center;
    margin:-8px;
    margin-top:50px;
}

p.myname{
    font-size:20px;
}

div.aog_design_desc_container{
    height:200px;
    width:1100px;
    margin-right:auto;
    margin-left:auto;
    display:block;
    float:center;
}

a.aogdesignlink{
    color: rgb(176, 233, 241);
    transition:0.3s;
}

a.aogdesignlink:hover{
    color: lightblue;
}

a.sirzenigaminglink{
    color: rgb(176, 233, 241);
    transition:0.3s;
}

a.sirzenigaminglink:hover{
    color: lightblue;
}

img.projects_heading_image{
    height:500px;
    width:900px;
    float:none;
    margin-right:auto;
    margin-left:auto;
    display:block;
}

/*media querries for: 1550px, 1250px, 900px, and 750px*/

@media (max-width:900px){
    #navigation_menu_container_alt{
        height:500px;
        width:300px;
        margin-top:-1px;
    }
}

@media (max-width:900px){
    #aboutme_link_container_alt{
        float:left;
    }
}

@media (max-width:900px){
    #home_link_container_alt{
        margin-right:auto;
        margin-left:auto;
        display:block;
    }
}

@media (max-width:900px){
    #aboutme_link_container_alt{
        margin-top:50px;
        margin-right:auto;
        margin-left:auto;
        display:block;
        float:none;
    }
}

@media (max-width:900px){
    #projects_link_container_alt{
        margin-top:50px;
        margin-right:auto;
        margin-left:auto;
        display:block;
    }
}

@media (max-width:900px){
    #contacts_link_container_alt{
        margin-top:50px;
        margin-right:auto;
        margin-left:auto;
        display:block;
        float:none;
    }
}

@media (max-width:1250px){
    #aog_design_desc_container_alt{
        margin-top:-50px;
        height:auto;
        width:auto;
    }
}

@media (max-width:1250px){
    #sirzenigaming_desc_container_alt{
        margin-top:-75px;
        height:auto;
        width:auto;
    }
}

@media (max-width:1250px){
    #aog_desc_alt{
        font-size:150%;
    }
}

@media (max-width:1250px){
    #sirzenigaming_desc_alt{
        font-size:150%;
    }
}

@media (max-width:1250px){
    #projectspage_maincontent_container_alt{
        margin-top:200px;
    }
}

@media (max-width:1250px){
    #aog_pic_alt{
        scale:60%;
        margin-right:auto;
        margin-left:-50px;
        display:block;
    }
}

@media (max-width:1250px){
    #sirzenigaming_pic_alt{
        scale:60%;
        margin-right:auto;
        margin-left:-50px;
        display:block;
    }
}

@media (max-width:1250px){
    #projects_sirzenigaming_container_alt{
        height:800px;
        width:800px;
    }
}

@media (max-width:1250px){
    #projects_aogdesign_container_alt{
        height:800px;
        width:800px;
    }
}

@media (max-width:900px){
    #projects_aogdesign_container_alt{
        width:auto;
        height:auto;
    }
}

@media (max-width:900px){
    #projects_sirzenigaming_container_alt{
        width:auto;
        height:auto;
    }
}

@media (max-width:900px){
    #aog_pic_alt{
        height:80%;
        width:80%;
        margin-top:-50px;
        margin-right:auto;
        margin-left:auto;
        display:block;
    }
}

@media (max-width:900px){
    #sirzenigaming_pic_alt{
        height:80%;
        width:80%;
        margin-top:-50px;
        margin-right:auto;
        margin-left:auto;
        display:block;
    }
}

@media (max-width:900px){
    #projectspage_maincontent_container_alt{
        height:1500px;
    }
}

@media (max-width:1250px){
    #projects_heading_image_alt{
        height:60%;
        width:auto;
    }
}

@media (max-width:750px){
    #projects_heading_image_alt{
        height:40%;
        width:auto;
        margin-top:80px;
    }
}

@media (max-width:1250px){
    #projectspage_maincontent_container_alt{
        margin-top:100px;
    }
}
